#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[])
{
    char k = 0;
    do					 
    {
        printf("%ld\n", k);
        k++;			         //J'incrémente ma variable.
    }
    while(k>=0);
    printf("%ld\n", k);			  //Tadam !

    return 0;
}
